{% extends 'layout.html' %} {% block content %} {% load static %}

<div class="container-list">
  <h1>Notes</h1>
  <ol style="list-style: none">
    {% for note in object_list %}
    <li>
      <h2> {{ forloop.counter }}. {{ note.title }} </h2>
      <a href="{% url 'note-detail' note.pk %}">detail</a> <br>
    </li>
    {% empty %}
    <li>
      <p> No notes yet. </p>
    </li>
    {% endfor %}
    <br><br>
    <li>
      <a href="{% url 'note-create'%}">create note</a>
    </li>
  </ol>
</div>

{% endblock content %}